@model IEnumerable<SchoolManager.Models.Subject>


<div class="list-data">
    <div class="row data-item">
        <div class="col-md-3 d-flex justify-content-start">
            <p class="data-title"> Tên tòa nhà </p>
        </div>
        <div class="col-md-4 d-flex justify-content-start">
            <p class="data-title"> Ghi chú </p>
        </div>
        <div class="col-md-3 d-flex justify-content-start">
            <p class="data-title"> Trạng thái</p>
        </div>
        <div class="col-md-2 d-flex justify-content-end">
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row data-item">
            <div class="col-md-3 d-flex justify-content-start">
                <p> @item.Name </p>
            </div>
            <div class="col-md-4 d-flex justify-content-start">
                <p> @item.Node</p>
            </div>
            <div class="col-md-3 d-flex justify-content-start">
                @if (item.Status == 0)
                {
                    <p> Đang được giảng dạy </p>
                }
                else
                {
                    <p> Ngừng giảng dạy </p>
                }
            </div>
            <div class="col-md-2 d-flex justify-content-end">
                <button class="btn btn-edit " data-id="@item.ID" data-name="@item.Name" data-node="@item.Node" data-createdate="@item.CreateDate" data-updatedate="@item.UpdateDate" data-createby="@item.CreateBy" data-updateby="@item.UpdateBy" data-status="@item.Status"><i class="text-success far fa-edit"></i></button>
                <button type="button" class="btn  btn-detail" data-id="@item.ID" data-toggle="modal" data-target="#myModal"><i class="fas fa-info-circle text-primary"></i> </button>
                <button class="btn btn-delete " data-id="@item.ID"><i class="text-danger far fa-trash-alt"></i></button>
            </div>
        </div>
        
    }
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thông Tin Chi Tiết</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="pagination">
    @for (int i = 1; i <= ViewBag.pageCount; i++)
    {
        if (i == ViewBag.pageNumber)
        {
            <button data-page="@i" class="active">@i</button>
        }
        else
        {
            <button data-page="@i">@i</button>
        }
    }
</div>
